body {
    margin:0;
    background-image: url(/Images/jon.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
}

h1 {
    color: rgb(255, 100, 0)
}

p{
    font-size:25px;
}

p:hover{
    color:orange;
}

h2{
    color:rgb(42, 243, 16);
}

a {
    color:white;
    text-decoration: none;
    font-size:25px;
}

a:visited{
    color:purple;
}

a:hover{
    color:red;
    text-decoration:underline;
}

a:active{
    color:green;
}
