html, body{
    height:100%;
    margin:0;
}


.box {
    background: lightblue;
    color:white;
    font-family:Arial;
    font-weight:bold;
    font-size:35px;
    padding-top:10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    margin-left:100px;
    border:5px solid red;
    height:80%;
    width:70%;    
    border-radius: 100px;
}